services:
  web:
    image: nginx:alpine
    ports:
      - "8090:80"
    volumes:
      - app_code:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    build: .
    volumes:
      - app_code:/var/www/html
    environment:
      - REPO_URL=https://github.com/applh/gaia-alpha.git
      - BRANCH=main

volumes:
  app_code:
