services:
  # Traefik Reverse Proxy (Handles SSL & Routing)
  traefik:
    image: traefik:v3.1
    command:
      #- "--log.level=DEBUG"
      - "--api.insecure=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      # Global HTTP -> HTTPS Redirection
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      # Let's Encrypt Resolver
      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
      #- "--certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory" # Comment out for PROD
      - "--certificatesresolvers.myresolver.acme.email=${ACME_EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./ssl:/ssl # Shared volume for dumped certs
    networks:
      - proxy
    restart: always

  # Nginx Web Server
  web:
    image: nginx:alpine
    volumes:
      - app_code:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - proxy
      - internal
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gaia-web.rule=Host(`${DOMAIN_NAME}`)"
      - "traefik.http.routers.gaia-web.entrypoints=websecure"
      - "traefik.http.routers.gaia-web.tls.certresolver=myresolver"
      # If using Websockets via Nginx, ensure sticky sessions or proper timeouts if needed (usually fine)
    restart: always

  # PHP Application (FPM)
  php:
    container_name: gaia-php
    build: .
    volumes:
      - app_code:/var/www/html
    networks:
      - internal
    environment:
      - REPO_URL=${REPO_URL:-https://github.com/applh/gaia-alpha.git}
      - BRANCH=${BRANCH:-main}
      - GAIA_DB_TYPE=${GAIA_DB_TYPE:-mysql}
      - GAIA_DB_HOST=db
      - GAIA_DB_NAME=${GAIA_DB_NAME:-gaia}
      - GAIA_DB_USER=${GAIA_DB_USER:-gaia_user}
      - GAIA_DB_PASS=${GAIA_DB_PASS:-secret}
    depends_on:
      - db
    restart: always

  # Gaia Fiber Server (WebSockets/SSE)
  fiber:
    build:
      context: .
      dockerfile: server/Dockerfile
    networks:
      - internal
    environment:
      - GAIA_DB_TYPE=${GAIA_DB_TYPE:-mysql}
      - GAIA_DB_HOST=db
      - GAIA_DB_NAME=${GAIA_DB_NAME:-gaia}
      - GAIA_DB_USER=${GAIA_DB_USER:-gaia_user}
      - GAIA_DB_PASS=${GAIA_DB_PASS:-secret}
    volumes:
      - app_code:/app/www
    depends_on:
      - db
    restart: always

  # Database (MariaDB)
  db:
    image: mariadb:10.11
    networks:
      - internal
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS:-root_secret}
      MYSQL_DATABASE: ${GAIA_DB_NAME:-gaia}
      MYSQL_USER: ${GAIA_DB_USER:-gaia_user}
      MYSQL_PASSWORD: ${GAIA_DB_PASS:-secret}
    volumes:
      - db_data:/var/lib/mysql
    restart: always

  # Mail Server
  mail:
    image: mailserver/docker-mailserver:latest
    container_name: mail
    hostname: ${MAIL_HOSTNAME:-mail}
    domainname: ${DOMAIN_NAME}
    env_file: .env
    environment:
      - LOG_LEVEL=info
      - DMS_DEBUG=0
      - ONE_DIR=1
      - ENABLE_SPAMASSASSIN=1
      - ENABLE_CLAMAV=1
      - ENABLE_FAIL2BAN=1
      - ENABLE_POSTGREY=0
      - ENABLE_SASLAUTHD=0
      - SSL_TYPE=manual
      - SSL_CERT_PATH=/tmp/ssl/certs/${DOMAIN_NAME}.crt
      - SSL_KEY_PATH=/tmp/ssl/private/${DOMAIN_NAME}.key
      - PERMIT_DOCKER=network
    ports:
      - "25:25" # SMTP
      - "587:587" # SMTP (Submission)
      - "465:465" # SMTPS
      - "993:993" # IMAPS
    volumes:
      - ./docker-data/dms/mail-data:/var/mail
      - ./docker-data/dms/mail-state:/var/mail-state
      - ./docker-data/dms/mail-logs:/var/log/mail
      - ./docker-data/dms/config:/tmp/docker-mailserver
      - ./ssl:/tmp/ssl:ro # Mount dumped certs
      - /etc/localtime:/etc/localtime:ro
    restart: always
    stop_grace_period: 1m
    networks:
      - proxy
      - internal
    depends_on:
      - cert-dumper

  # Cert Dumper (Extracts certs from Traefik acme.json)
  cert-dumper:
    image: ldez/traefik-certs-dumper:v2.8.3
    entrypoint: sh -c ' apk add jq && while ! [ -e /traefik/acme.json ] || ! [ -s /traefik/acme.json ]; do sleep 1 done && traefik-certs-dumper file --version v2 --watch --source /traefik/acme.json --dest /ssl --domain-subdir '
    volumes:
      - ./letsencrypt:/traefik
      - ./ssl:/ssl
    networks:
      - proxy
    restart: always

networks:
  proxy:
    external: true # Create this manually: docker network create proxy
  internal:


volumes:
  app_code:
  db_data:
  letsencrypt:
